
@{
    Layout = "../../../../Views/head.cshtml";
}

<div id=layout>
    <div form="Y" id="form1">
        @Html.EipGetSelect((IEnumerable<SelectListItem>)ViewData["WhAgentList"], "AgentCode", "货代", "", "")
        @Html.EipGetSelect((IEnumerable<SelectListItem>)ViewData["WhClientList"], "ClientCode", "客户名", "", "")
        @Html.EipGetSelect((IEnumerable<SelectListItem>)ViewData["ZoneList"], "LocationId", "库区", "", "")

        <input type="text" left="90" name="ReceiptId" hint="收货批次号" />
        <input type="text" name="TruckNumber" hint="车牌号" />

        <select class="easyui-vhuo'xia'alidatebox" hint="车辆状态" name="truckStatus"><option value='未离库'>未离库</option><option value='等待'>等待</option><option value='放车'>放车</option><option value='在库'>在库</option><option value='离开'>离开</option></select>

        <input type="text" name="BeginCreateDate" hint="创建时间" date='Y' value="@DateTime.Now.AddDays(-5).ToString("yyyy-MM-dd")" />
        <input type="text" name="EndCreateDate" left="20" hint="-" date='Y' value="@DateTime.Now.AddDays(0).ToString("yyyy-MM-dd")" />
    </div>
    <table id="grid"></table>
</div>



<script type="text/javascript" src="/share/includes/eip.js"></script>
<script type="text/javascript">

    var dlg;

    $(function () {

        //页面布局
        var layout = eip.layout.create(
            $("#layout"),
            [{
                obj: $('#form1'),
                buttons: [
                    {
                        text: "查询", icon: "search", click: function () {
                            List();
                        }
                    }
                ]
            }]);

        //客制化
        eip.datagrid.create({
            obj: $("#grid"),
            pagesize: 100,
            hiddencolumns: ["插队"],
            //showOrderBtns: true,
            muledit: false,
            columns: {
                "操作": {
                    formatter: function (row) {
                        var retHtml = " ";

                        if (row["批次状态"] != "完成收货" && row["批次状态"] != "未释放" && row["类型"] == "普通") {
                            retHtml += "<a href=# class=easyui-linkbutton iconCls='icon-print' plain=true onclick='PrintReceiptId(this)' title='打印收货操作单' ></a>";
                        }
                        if (row["批次状态"] != "完成收货" && row["批次状态"] != "未释放" && row["类型"] == "直装") {
                            retHtml += "<a href=# class=easyui-linkbutton iconCls='icon-print' plain=true onclick='PrintDSReceiptId(this)' title='打印直装操作单' ></a>";
                        }

                        if (row["批次状态"] == "未收货" && (row["排队状态"] == "放车" || row["排队状态"] == "在库") && row["类型"] == "普通") {
                            retHtml += "<a href=# class=easyui-linkbutton iconCls='icon-cancel' plain=true onclick='DelReceiptRegister(this)' title='删除收货批次号' ></a>";
                        }

                        return retHtml;
                    }
                }
                //,
                //"插队": {
                //    formatter: function (row) {
                //        var retHtml = " ";
                //        if (row["排位"] != "1" && row["排队状态"] == "等待") {
                //            retHtml += "<a href=# class=easyui-linkbutton iconCls='icon-merge' plain=true onclick='QueueUpTruck(this)' title='插队' ></a>";
                //        }

                //        return retHtml;
                //    }
                //}
                ,
                "放车": {
                    formatter: function (row) {
                        var retHtml = " ";
                        if (row["排队状态"] == "等待") {
                            retHtml += "<a href=# class=easyui-linkbutton iconCls='icon-merge' plain=true onclick='UpdateTruckStatu(this)' title='放车' ></a>";
                        }

                        return retHtml;
                    }
                }
            },
            dofunc: function (grid, trs) {
              
                for (i in trs) {  //trs遍历方法

                    if ($("td[field=绿色通道]", trs[i]).html() == "是") {
                        //  $("td[field=父ID],td[field=英文名]", trs[i]).css('color', 'blue');

                        $("td[field=绿色通道]", trs[i]).parent().css("background-color", "#00FA9A");

                    }
                }
                  //  $("td[field=父ID],td[field=英文名]", trs[i]).css('color', 'blue');

                //for (i in trs)  //列 格式化增加颜色显示
                    
                    //$("td[field=UserNameCN],td[field=PassWord]", trs[i]).css('color', 'blue');
            },
            //lock:锁定，不可隐藏的栏位；hide：可以隐藏的栏位（show和hide只能设一个）；
            setup: { lock: ['UserNameCN'] }
        });
    });

    //查询
    function List() {
        if ($("[name=BeginCreateDate]").val() == "") {
            $.eipMsg.alert("创建开始时间必须选择！");
            return;
        }

        if ($("[name=EndCreateDate]").val() == "") {
            $.eipMsg.alert("创建结束时间必须选择！");
            return;
        }
        eip.datagrid.load("/Rec/TruckQuery/List", $("#grid"), eip.para.create($("input,select,textarea", $("#layout"))));
    }

    //派车
    function UpdateTruckStatu(obj) {
        var tr = eip.datagrid.getTr(obj)
        var row = eip.datagrid.getData(tr)

        var paiwei = row["排位"];
        var receiptId = row["收货批次号"];

        if (paiwei == 1) {
            $.eipMsg.confirm("当前车辆排位为1，确认放车吗？", function () {
                eip.get("/Rec/TruckQuery/UpdateTruckStatu?receiptId=" + receiptId, null, function (jsonObj) {
                    $.procAjaxData(jsonObj, function () {
                        List();
                    }, function () { });
                }, null, true)
            })
        } else {
            QueueUpTruck(obj);
        }
    }

    //车辆插队
    function QueueUpTruck(obj) {
        var tr = eip.datagrid.getTr(obj)
        var row = eip.datagrid.getData(tr)

        var dlg = eip.dialog.create("车辆插队放车", "<div id=layout5 ><div form='Y' id='form5'>"
                                    + "<span left=\"140\" hint=\"收货批次号\">" + row["收货批次号"] + "</span>"
                                    + "<span left=\"140\" hint=\"车牌号\">" + row["车牌号"] + "</span>"
                                    + "<span left=\"140\" hint=\"库区\">" + row["库区"] + "</span>"
                                    + "<span left=\"140\" hint=\"当前排位\">" + row["排位"] + "</span>"
                                    + "<select class=\"easyui-vhuo'xia'alidatebox\" left=\"140\" hint=\"插队原因\" name=\"QueueUpRemark\"><option value='预约'>预约</option><option value='绿色通道'>绿色通道</option><option value='其它'>其它</option></select>"
                                    + "</div></div>", 400, 350)

        eip.layout.create($('#layout5'), [{
            obj: $('#form5'),
            buttons: [
                {
                    text: "保存", icon: "save", click:
                        function () {

                            if ($("[name=QueueUpRemark]", $("#form5")).val() == "") {
                                $.eipMsg.alert("插队原因必须选择！");
                                return;
                            }

                            eip.get("/Rec/TruckQuery/QueueUpTruck?receiptId=" + row["收货批次号"], eip.para.create($("input,select", $("#layout5"))), function (jsonObj) {
                                $.procAjaxData(jsonObj, function () {

                                    eip.dialog.close(dlg);
                                    List();

                                }, function () { });
                            }, null, true)
                        }
                },
               {
                   text: "关闭窗口", icon: "no", click:
                      function () {
                          eip.dialog.close(dlg);
                      }
               }
            ]
        }])

        $("[name=QueueUpRemark]").focus();
    }

    //删除收货批次
    function DelReceiptRegister(obj) {
        var tr = eip.datagrid.getTr(obj)
        var row = eip.datagrid.getData(tr)
        var ReceiptId = row["收货批次号"];

        $.eipMsg.confirm("确定删除收货批次号：" + ReceiptId + "吗？系统将记录本次操作！", function () {
            eip.get("/Rec/TruckQuery/DelReceiptRegister?ReceiptId=" + ReceiptId, null, function (jsonObj) {
                $.procAjaxData(jsonObj, function () {

                    List();

                }, function () { });
            })
        })
    }

    //打印收货操作单
    function PrintReceiptId(obj) {
        var tr = eip.datagrid.getTr(obj)
        var row = eip.datagrid.getData(tr)
        var Id = row["收货批次号"];
        eip.get("/InBound/RegInBoundOrder/PrintReceiptId?ReceiptId=" + Id, null, function (val) {
           
            window.open(val + "?id=" + Id);

        })
    }

    //打印直装收货操作单
    function PrintDSReceiptId(obj) {
        var tr = eip.datagrid.getTr(obj)
        var row = eip.datagrid.getData(tr)
        var Id = row["收货批次号"];
        eip.get("/InBound/RegInBoundOrder/PrintReceiptId?ReceiptId=" + Id, null, function (val) {
         
            window.open(val + "?id=" + Id);

        })
    }

</script>
