
@{
    Layout = "../../../../Views/head.cshtml";
}
<div id=layout>
    <div form="Y" id="form1">
        <input type="hidden" name="whCode" value="@ViewBag.whCode" />
        @Html.EipGetSelect((IEnumerable<SelectListItem>)ViewData["tranType"], "tranType", "类型", "", "")
        @Html.EipGetSelect((IEnumerable<SelectListItem>)ViewData["clientCode"], "WhClientId", "客户名", "", "")
        <input type="text" name="HuId" hint="托盘" />
        <input type="text" name="Load" hint="Load" />
        <input type="text" name="CustomerOutPoNumber" left="160" hint="客户出库单\OMS出库单号" /> 
        <input type="text" name="Receipt" left="100" hint="收货批次号" />
        <input type="text" name="SoNumber" hint="SO号" />
        <input type="text" name="PoNumber" hint="PO" />
        <input type="text" name="AltNumber" hint="款号(耗材)" />
        <input type="text" name="UserCode" hint="工号" />
        <input type="text" name="Remark" left="110" hint="操作台电脑名" />
        <input type="text" name="ExpressNumber" hint="快递单号" />
        <input type="text" name="RegisterDateBegin" hint="日期" date='Y' value="@DateTime.Now.AddDays(0).ToString("yyyy-MM-dd")" />
        <input type="text" name="RegisterDateEnd" left="20" hint="-" date='Y' value="@DateTime.Now.AddDays(0).ToString("yyyy-MM-dd")" />
        <input type="text" name="LocationId" hint="库位" />
    </div>
    <table id="grid"></table>
</div>

<script type="text/javascript" src="/share/includes/eip.js"></script>
<script type="text/javascript">

    $(function () {

        //页面布局
        var layout = eip.layout.create(
            $("#layout"),
            [{
                obj: $('#form1'),

                buttons: [
                    {
                        text: "查询", icon: "search", click: function () {
                            var clientCode = $("[name=WhClientId]").find("option:selected").text();
                            eip.datagrid.load("/Reports/WarhouseReport/TranlogList?clientCode=" + eip.utf8(clientCode), $("#grid"), eip.para.create($("input,select", $("#form1"))));
                        }
                    }
                ]
            }]);

        //客制化
        eip.datagrid.create({
            obj: $("#grid"),
            pagesize: 50,
            ajaxType: 'post',    //load时，ajax请求类型
            sort: true,
            // sorts: { "ReceiptDate": "DESC", "托盘号": "ASC" },  //排序栏位：{'料号':'DESC','组织':'ASC'}
            showExcelExport: true,//显示汇出按钮
            //  hiddencolumns: ["ReceiptDate"],
            //showOrderBtns: true,
            //lockcolumns: 2,
            columns: {

            }
        });

    });

</script>